

h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
   
}

p{
    color: white;
    text-align: center;
}

img{
    width : 50%;
    border: 5px solid white;
    margin-top: 25px;
    margin-left: 25%;
}


*{
    background-color: black;
}